
@{
    ViewBag.Title = "MakeOrder";
}

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Online Store</title>
</head>
<body>
    <text>Order Accepted seccesfuly</text>
    <a href="~/Home/Index">Main</a>
</body>
</html>

